*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body ,html {
   font-weight: 300;
   line-height: 1.4;
   scroll-behavior: smooth;
   color: white; 
}

body {
    font-size: 1.4rem;

}

a {
    text-decoration: none;
    color: white;

}

.container {
    max-width: 1300px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}

ul {
    list-style: none;
}

header {
   background-color: rgb(65, 133, 201);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

nav ul {
    display: flex;
    gap: 1rem;

}

nav li {
    font-size: 1.8rem;
     border-bottom: 0.4rem transparent solid;
        transition: 0.3s ease-in-out;
}
    


nav li:hover {
     border-bottom: 0.4rem white solid;
     transition: 0.3s ease-in-out;
}



.logo {
    font-size: 2rem;
    font-weight: 700;
}


#hero {
    background-color: rgb(3, 32, 84);
    padding: 4rem 0;
    border-bottom: 10px solid rgb(88, 187, 240) ;
    /* display: flex; */


}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.hero-content {
    display: grid;
    place-items: center;


}
#hero h1 {
   font-size: 3rem ;
   font-weight: bold;
   
}

.hi-text {
    font-size: 6rem ;
    font-weight: bold;
    color: yellow;
}

.name-text {
    font-size: 5rem ;
    /* font-weight: bold ; */

}

#hero h2 {
    font-size:4rem ;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15rem solid  orange ;
    white-space: nowrap;
    margin: 0 auto;
    animation:  typing 5s steps(40,end), blink-caret 0.75s step-end infinite;

}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
        
    }
    50% {
        border-color: orange;
    }
    
}

/* project section */

.project {
    background-color: rgb(9, 63, 145);
}

.project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0 ;

}

.project-container{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(320px,1fr));  
   gap: 2rem; 
}

.grid-item {
    display: grid;
    place-items: center ;
}

.card {
   width: 320px;
   display: flex;
   flex-direction: column;
   border-radius: 0.55rem;
    overflow: hidden;
     transition: 0.2s ease-in-out;
}



.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card:hover img {
     transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card:hover .card-content {
background: white;
color: rgb(35, 75, 168);
transform: translatey(0px);

}
.card-content h3 {
    text-align: center;
}

.card-content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translatey(100px);
}

/* contact section */
.contact {
    background: #032542;

}

.contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;

}

.contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.top-contact {
    display: grid;
    margin: 0 auto;
    max-width: 800px;

    grid-template-columns: repeat(auto-fit,minmax(80px,1fr)); 

}

.contact-way {
  display: flex;
  gap: 1rem;
  align-items: center;


}

.contact-way i{
   font-size: 3rem;

}
.contact-way h3 {
    font-size: 3rem;
    font-weight: bold;

}

.bottom-contact {
max-width: 400px;
gap: 1rem;
     display: grid;
    margin: 0 auto;
    max-width: 800px;

    grid-template-columns: repeat(auto-fit,minmax(80px,1fr)); 

}

/* footer */

footer {
    background: rgb(0, 31, 51);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

/* media query */

@media (max-width:786px) {
    html{
      font-size: 40%;  
    }
      #hero .container {
        flex-direction: column;

    }
.hero-image {
    display: grid;
    place-items: center;
}
#contact .container {
    height: 70vh;
}

}
@media (max-width:500px) {
    html{
      font-size: 32%;  
    }
    #hero .container {
        flex-direction: column;

    }
.hero-image {
    display: grid;
    place-items: center;
}
#contact .container {
    height: 50vh;
}

}